name: Pull Request

on:
  pull_request:
    branches: ["main"]

env:
  GO_VERSION: "1.24.3"

concurrency:
  group: branch-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: macos-15
    steps:
      - uses: actions/checkout@v4
      - uses: swift-actions/setup-swift@v2.3.0
      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: ${{ env.GO_VERSION }}
      - name: Install Go dependencies
        run: go get ./...
        working-directory: ./test-server
      - name: Build Test Pocketbase Server
        run: go build -v ./...
        working-directory: ./test-server
      - name: Preflight
        run: make preflight